<html>
<head>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery-ui.js"></script>
	<script src="/javascripts/jquery.hive.js"></script>
	<script>

	<%= render :partial=>"main.js" %>

	
	$(document).ready( function() {
        var mainCanvas0 = document.getElementById("mainCanvas0");
        var mainCanvas1 = document.getElementById("mainCanvas1");
		context[0] = mainCanvas0.getContext("2d");
		context[1] = mainCanvas1.getContext("2d");
		mainCanvas0.setAttribute( "width", canvasW );
		mainCanvas0.setAttribute( "height", canvasH );
		mainCanvas0.width = mainCanvas0.width; // forces a reset
		mainCanvas1.setAttribute( "width", canvasW );
		mainCanvas1.setAttribute( "height", canvasH );
		mainCanvas1.width = mainCanvas1.width; // forces a reset
		$("#mainCanvas1").css( "position", "absolute" );
		$("#mainCanvas1").css( "left", $("#mainCanvas0").position().left );
		$("#mainCanvas1").css( "top", $("#mainCanvas0").position().top );

		$(window).mousemove( function(event) {
			var off = $("#mainCanvas0").offset();
			mouseX = event.pageX - off.left;
			mouseY = event.pageY - off.top;
		});

		$("#mainCanvas0").mousedown( function(event) {
			mouseDown = true;
		});

		$("#mainCanvas1").mousedown( function(event) {
			mouseDown = true;
		});

		$(window).mouseup( function(event) {
			mouseDown = false;
			challengeMouseDown = false;
		});

		$("body").keydown( function(event) {
			keyDown = event.which;
		});

		$("body").keyup( function(event) {
			keyDown = null;
		});
		
		$("#fpsWarning").css( "top", $("#topLabel").offset().top );
		$("#fpsWarning").css( "left", $("#topLabel").offset().left );
		
		setTimeout( function() {
			loadProgram( '<%=@program.name-%>', <%= @program.id -%>, false );
		}, 100 );
    });
	
    function loadProgram( name, id, isChallenge, hideName ) {
		$.get( "/home/load_program", { "id":id, "name":name }, function(data) {
			$("#startEditor").val( data.start_code );
			$("#loopEditor").val( data.loop_code );
			startThread();
	        runOneFrame();
		});
    }


	function resize() {
	}
	function setupTwiddlers() {
	}
	var pause = false;
	
	
	</script>
</head>

<body>

<div id="topLabel">
	<span class="areaLabel">Created at <a href="http://happyfuncoding.com">happyfuncoding.com</a></span>
	<span id="fps" style="float:right; font-size:9px; width:20px; position:relative; top:4px;"></span>
	<span style="float:right; font-size:9px; position:relative; top:4px;">Frame rate: </span>
	<span id="fpsWarning" style="padding:0px 20px 0px 20px; position:absolute; font-weight:bold; display:none; background-color:yellow; color:black;">Frame rate low, try <a href="http://www.google.com/chrome">Chrome</a></span>
</div>
<div style="display:none;">
	<textarea id="startEditor">
	</textarea>
	<textarea id="loopEditor">
	</textarea>
</div>
<div>
	<canvas id="mainCanvas0" class="thinBorder">
	</canvas>
	<canvas id="mainCanvas1" class="thinBorder">
	</canvas>
</div>

</body>
</html>