<html>
	<body>
		<h1>Internet Explorer not supported!</h1>
		<p>
			Sorry, but Internet Explorer does not implement the required HTML5
			features that are needed for happyfuncoding. 
		</p>
		<p>
			Please try <a href="http://www.mozilla.com/en-US/firefox/new/">Firefox</a> or <a href="http://www.google.com/chrome/intl/en/make/download.html?brand=CHKZ">Chrome</a>.
		</p>
	</body>
</html>