<% if @errors.length > 0 %>
	Login had the following errors<br/>
	<% for e in @errors %>
		<%= e -%>
	<% end %>
<% end %>

<div style="margin: 10px 0px 0px 50px;">
	<form action="/home/login" method="post" name="loginform">
		<table>
			<tr>
				<td>
					<b>User name</b>
				</td>
				<td>
					<input id="name" name="name" size="30" type="text" />
				</td>
			</tr>
			<tr>
				<td>
					<b>Password</b>
				</td>
				<td>
					<input id="password" name="password" size="30" type="password"/>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button onclick="document.forms['loginform'].submit()">Sign in</button>
					<br/>
					<a href="/home/create_account">Create account</a>
				</td>
			</tr>									
		</table>
	</form>		
</div>
